$a--color:black;
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}
body{
    font-size:1.6rem;
}

header{
    background: linear-gradient(180deg, #FEF8F7 92.26%, #FFFFFF 106.27%);
    padding: 2rem 10rem;
}

.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    flex: 10%;
    flex-grow:0;
    img{
        width: 100%;
    }
}

.header__info{
    ul{
        margin: 0px;
        list-style: none;
        display: flex;
        justify-content: center;
    }
    li{
        padding: 0px 2rem;
        a{
            text-decoration: none;
            color: #60646D;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    
}

.header__button--text{
    a{
        font-weight: 600;
        text-decoration: none;
        color: black;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    padding-right: 1rem;
}

.header__button--btn{
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    border: 0px;
    background-color: #1C70FF;
    color: #FBFDFD;
    font-weight: 600;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.banner__text{
    flex: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
    font-size: 1.5rem;
    gap: 2rem;
}

.banner__info{
    h1{
        font-size: 5rem;
        font-weight:bolder;
        span{
            color: #145FF0;
        }
    }
    p{
        padding: 1rem 0;
        color: #60646D;
    }
}

.banner__button{
    font-size: 1.2rem;
    span {
        font-weight: 600;
    }
}
.banner__button--btn{
    color: white;
    padding: 1rem 1.5rem;
    background-color: #145FF0;
    border-radius: 5px;
    border: 0;
    margin-right: 2rem;
}
.banner__bottom{
    display: flex;
    align-items: center;
    gap:1rem;
    ion-icon{
        color: #145FF0;
        font-size: 2rem;
    }
    color: #60646D;
    font-size: 1rem;

}
.banner__img{
    flex: 50%;
    img{
        width: 100%;
    }
}

main{
    padding: 0 10rem;
}
.provide{
    h1{
        text-align: center;
        font-weight: bold;
        font-size: 3rem;
        padding-bottom: 5rem;
    }
    padding: 10rem 0;
}

.provide__cards{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    gap: 2rem;
    position: relative;
}


.provide__cards::before{
    content: "";
    position: absolute;
    width: 12rem;
    height: 12rem;
    background-color: #FEEDE9;
    border-radius: 50%;
    top:-3rem;
    left:-4.5rem;
    z-index: -1;
}

.provide__cards::after{
    content: "";
    position: absolute;
    width: 8rem;
    height: 8rem;
    background-color: #FEEDE9;
    border-radius: 50%;
    bottom:-1.5rem;
    right: -3rem;
    z-index: -1;
}

.provide__card{
    flex:30%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 20px;
    gap:2rem;
    background-color: white;
    
}
.provide__card:nth-child(2){
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.07);
}

.provide__card--title{
    h3{
        font-size: 2rem;
        font-weight: bold;
    }
    margin-bottom: auto;
}

// FEATURE-1

.feature-1{
    display: flex;
    gap:10rem;
    align-items: center;
    padding: 10rem 0;
}

.feature-1__img{
    flex: 50%;
    img{
        width: 100%;
    }
}

.feature-1__info{
    flex: 50%;
    h1{
        font-size: 5rem;
        font-weight: bolder;
    }
    p{
        color: #60646D;
        padding-top: 2rem;
    }
}


// FEATURE-2
.feature-2{
    background-color: #FFF3F0;
    margin: 0 -10rem;
    padding:10rem;
    display: flex;
    gap:10rem;
    margin-bottom: 20rem;
}

.feature-2__info{
    flex: 40%;
}

.feature-2__info--title{
    h1{
        font-weight: bolder;
        font-size: 4.8rem;
    }
}

.feature-2__info--items{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
    gap: 5rem;
}

.feature-2__info--item{
    flex: 40%;
    h2{
        font-weight: 600;
        font-size: 2.4rem;
        padding-left: 2rem;
    }
    p{
        font-size: 1.8rem;
        font-weight: 400;
        color: #60646D;
        padding-left: 2rem;
        margin: 0;
    }
}

.feature-2__info--item:nth-child(1){
    p{
        border-left: #145FF0 solid 3px;
    }
}

.feature-2__info--item:nth-child(2){
    p{
        border-left: #FF6845 solid 3px;
    }
}

.feature-2__info--item:nth-child(3){
    p{
        border-left: #06183D solid 3px;
    }
}

.feature-2__info--item:nth-child(4){
    p{
        border-left: #FCAA0F solid 3px;
    }
}

.feature-2__card{
   flex: 40%;
}
.around{
    margin-bottom: -20rem;
}

.feature-2__card-total{
    background-color: white;
    border-radius: 3rem;
    width: 70%;
    padding-bottom: 5rem;
    box-shadow: 0px 24px 68px rgba(0, 0, 0, 0.07);
}
.feature-2__card--main{
    background-color: #FA8D74;
    overflow: hidden;
    border-radius: 3rem;
    h1{
        padding: 5rem 2.5rem;
        font-weight: 600;
        font-size: 2.8rem;
        color: white;
    }
    img{
        display: block;
        margin:auto;
        padding: 5rem;
        width: 100%;
    }
}

.feature-2__card--title{
    h1{
        font-size: 1.8rem;
        font-weight: 600;
    }
    padding: 5rem 2.5rem;
}

.feature-2__card--items{
    display: flex;
    gap: 1rem;
    transform: translateX(5%);
    width: 120%;
}

.feature-2__card--item{
    padding: 2rem;
    box-shadow: 0px 14px 44px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    flex: 33%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 2rem;
}

.feature-2__card--ava{
    img{
        overflow: hidden;
        border-radius: 50%;
        width: 50%;
    }
}
.feature-2__card--name{
    padding-top:1.2rem;
    padding-bottom: 0.4rem;
    h3{
        font-size: 1rem;
        font-weight: 500;
    }
}

.feature-2__card--info{
        margin-top: auto;
        p{
            font-size: 0.8rem;
            color: #60646D;
        }
}