$a--color:black;
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}
body{
    font-size:1.6rem;
}

header{
    background: linear-gradient(180deg, #FEF8F7 92.26%, #FFFFFF 106.27%);
    padding: 2rem 10rem;
}

.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    flex: 10%;
    flex-grow:0;
}

.header__info{
    ul{
        margin: 0px;
        list-style: none;
        display: flex;
        justify-content: center;
    }
    li{
        padding: 0px 2rem;
        a{
            text-decoration: none;
            color: #60646D;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    
}

.header__button--text{
    a{
        font-weight: 600;
        text-decoration: none;
        color: black;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    padding-right: 1rem;
}

.header__button--btn{
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    border: 0px;
    background-color: #1C70FF;
    color: #FBFDFD;
    font-weight: 600;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.header__drops{
    display: none;
    ion-icon{
        font-size:2rem;
    }
    height: 100%;
}
.header__drop{
    display: flex;
    align-items: center;
    justify-content: center;
}

//BANNER
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.banner__text{
    flex: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
    font-size: 1.5rem;
    gap: 2rem;
}

.banner__info{
    h1{
        font-size: 5rem;
        font-weight:bolder;
        span{
            color: #145FF0;
        }
    }
    p{
        padding: 1rem 0;
        color: #60646D;
    }
}

.banner__button{
    font-size: 1.2rem;
    span {
        font-weight: 600;
    }
}
.banner__button--btn{
    color: white;
    padding: 1rem 1.5rem;
    background-color: #145FF0;
    border-radius: 5px;
    border: 0;
    margin-right: 2rem;
}
.banner__bottom{
    display: flex;
    align-items: center;
    gap:1rem;
    ion-icon{
        color: #145FF0;
        font-size: 2rem;
    }
    color: #60646D;
    font-size: 1rem;

}
.banner__img{
    flex: 50%;
    img{
        width: 100%;
    }
}

main{
    padding: 0 10rem;
}
.provide{
    h1{
        text-align: center;
        font-weight: bold;
        font-size: 3rem;
        padding-bottom: 5rem;
    }
    padding: 10rem 0;
}

.provide__cards{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    gap: 2rem;
    position: relative;
}


.provide__cards::before{
    content: "";
    position: absolute;
    width: 12rem;
    height: 12rem;
    background-color: #FEEDE9;
    border-radius: 50%;
    top:-3rem;
    left:-4.5rem;
    z-index: -1;
}

.provide__cards::after{
    content: "";
    position: absolute;
    width: 8rem;
    height: 8rem;
    background-color: #FEEDE9;
    border-radius: 50%;
    bottom:-1.5rem;
    right: -3rem;
    z-index: -1;
}

.provide__card{
    flex:30%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 20px;
    gap:2rem;
    background-color: white;
    
}
.provide__card:nth-child(2){
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.07);
}

.provide__card--title{
    h3{
        font-size: 2rem;
        font-weight: bold;
    }
    margin-bottom: auto;
}

// FEATURE-1

.feature-1{
    display: flex;
    gap:10rem;
    align-items: center;
    padding: 10rem 0;
}

.feature-1__img{
    flex: 50%;
    img{
        width: 100%;
    }
}

.feature-1__info{
    flex: 50%;
    h1{
        font-size: 5rem;
        font-weight: bolder;
    }
    p{
        color: #60646D;
        padding-top: 2rem;
    }
}


// FEATURE-2
.feature-2{
    background-color: #FFF3F0;
    margin: 0 -10rem;
    padding:10rem;
    display: flex;
    gap:10rem;
    margin-bottom: 20rem;
}

.feature-2__info{
    flex: 40%;
}

.feature-2__info--title{
    h1{
        font-weight: bolder;
        font-size: 4.8rem;
    }
}

.feature-2__info--items{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
    gap: 5rem;
}

.feature-2__info--item{
    flex: 40%;
    h2{
        font-weight: 600;
        font-size: 2.4rem;
        padding-left: 2rem;
    }
    p{
        font-size: 1.8rem;
        font-weight: 400;
        color: #60646D;
        padding-left: 2rem;
        margin: 0;
    }
}

.feature-2__info--item:nth-child(1){
    p{
        border-left: #145FF0 solid 3px;
    }
}

.feature-2__info--item:nth-child(2){
    p{
        border-left: #FF6845 solid 3px;
    }
}

.feature-2__info--item:nth-child(3){
    p{
        border-left: #06183D solid 3px;
    }
}

.feature-2__info--item:nth-child(4){
    p{
        border-left: #FCAA0F solid 3px;
    }
}

.feature-2__card{
   flex: 40%;
}
.around{
    margin-bottom: -20rem;
}

.feature-2__card-total{
    background-color: white;
    border-radius: 3rem;
    width: 70%;
    padding-bottom: 5rem;
    box-shadow: 0px 24px 68px rgba(0, 0, 0, 0.07);
}
.feature-2__card--main{
    background-color: #FA8D74;
    overflow: hidden;
    border-radius: 3rem;
    h1{
        padding: 5rem 2.5rem;
        font-weight: 600;
        font-size: 2.8rem;
        color: white;
    }
    img{
        display: block;
        margin:auto;
        padding: 5rem;
        width: 100%;
    }
}

.feature-2__card--title{
    h1{
        font-size: 1.8rem;
        font-weight: 600;
    }
    padding: 5rem 2.5rem;
}

.feature-2__card--items{
    display: flex;
    gap: 1rem;
    transform: translateX(5%);
    width: 120%;
}

.feature-2__card--item{
    padding: 2rem;
    box-shadow: 0px 14px 44px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    flex: 33%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 2rem;
}

.feature-2__card--ava{
    img{
        overflow: hidden;
        border-radius: 50%;
        width: 50%;
    }
}
.feature-2__card--name{
    padding-top:1.2rem;
    padding-bottom: 0.4rem;
    h3{
        font-size: 1rem;
        font-weight: 500;
    }
}

.feature-2__card--info{
        margin-top: auto;
        p{
            font-size: 0.8rem;
            color: #60646D;
        }
}


//Testimonial

.testimonial{
    display: flex;
    background-color: #FA8D74;
    border-radius: 1.2rem;
    padding: 10rem;
    align-items: center;
    justify-content: space-between;
}

.testimonial__left{
    flex: 40%;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.testimonial__left--ava{
    flex-shrink: 0;
}

.testimonial__left--info{
    h3{
        font-size: 1.8rem;
        font-weight: 600;
        color: white;
    }
    p{
        font-size: 1.4rem;
        font-weight: 400;
        color: white;
    }
}

.testimonial__right{
    flex: 60%;
    display: flex;
    flex-direction: column;
}
.testimonial__right--text{
    p{
        font-size: 2.4rem;
        color: white;
        font-weight: 500;
        font-style: italic;
        padding-bottom: 2.5rem;
    }
}

.testimonial__right--btn{
    button{
        width: 12px;
        height: 2px;
        border: 0;
        border-radius: 2px;
    }
}

.testimonial__right--btn button:nth-child(2), .testimonial__right--btn button:nth-child(3){
    opacity: 70%;
}

.newsletter{
    // background-image: url(../img/Group\ 4396.png);
    // background-repeat: no-repeat;
    // background-position-y: 50%;
    padding: 20rem 0;
    position: relative;
   
}
.newsletter__bg--left{
    margin-left: -10rem;
    img{
        position: absolute;
        z-index: -1;
    }
}
.newsletter__bg--right{
    img{
        position: absolute;
        right: 0;
        z-index: -1;
    }
}



.newsletter__title{
    h1{
        text-align: center;
        font-size: 2.8rem;
        font-weight: 700;
        max-width: 400px;
        margin: auto;
    }
    margin-bottom: 4rem;
}

.newsletter__main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

.newsletter__main--input{
    input{
        padding: 1.5rem;
        border-radius: 6px;
        border: 1px solid #B6BBC7;
        font-size: 1.6rem;
    }
}

.newsletter__main--btn{
    button{
        font-size: 1.6rem;
        padding: 1.5rem 3.4rem;
        border-radius: 6px;
        color: white;
        background-color: #145FF0;
        border:0;
    }
}


footer{
    padding:10rem;
    display: flex;
    gap: 2rem;
    background-color: #06183D;
}

.footer__social{
    flex: 45%;
}

.footer__social--title{
    h1{
        font-size: 2.4rem;
        font-weight: 800;
        color: white;
        font-style: italic;
        display: inline-block;
    }
}

.footer__social--circle{
    width: 0.6rem;
    height: 0.6rem;
    background-color: #145FF0;
    border-radius: 50%;
    display: inline-block;
}

.footer__social--text{
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
    padding-top: 1.2rem;
    padding-bottom: 2rem;
}

.footer__social--icons{
    display: flex;
    gap: 1.5rem;
}

.footer__social--icon{
    i{
        color: white;
    }

    background-color: #2B3956;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__social--icon:nth-child(3){
    background-color: #145FF0;
}

.footer__items{
    flex: 45%;
    color: white;
    display: flex;
    gap: 10rem;
}

.footer__item{
    flex: 30%;
}

.footer__item--title{
    h1{
        font-size: 1.8rem;
        font-weight: 600;
    }
}

.footer__item--list{
    ul{
        list-style: none;
        padding: 0;
    }
    li{
        padding:0.5rem 0;
        a{
            text-decoration: none;
        }
        span{
            color: white;
        }
    }
}


@media screen and (max-width:991px) {


    //HEADER
    .header__info{
        li{
            padding: 0px 1rem;
            a{
                font-size: 1.2rem;
            }
        }
    }

    .header__button--text{
        a{
            font-size: 1.2rem;
        }
    }
    
    .header__button--btn{
        font-size: 1.2rem;
    }

    //BANNER
    .banner__info{
        h1{
            font-size: 3rem;
        }

    }


    //FEATURE


    .feature-1__info{
        flex: 50%;
        h1{
            font-size: 2rem;
            font-weight: bolder;
        }
        p{
            color: #60646D;
            padding-top: 2rem;
        }
    }

    .feature-2{
        gap:5rem;
    }

    .feature-2__info--title{
        h1{
            font-size: 3rem;
        }
    }

    .feature-2__card--items{
        width: 100%;
    }

    //TESTIMONIAL
    .testimonial{
        gap: 5rem;
    }
    .testimonial__right--text{
        p{
            font-size: 2rem;
        }
    }

    //FOOTER
    .footer__items{
        gap: 5rem;
    }


    .footer__social--text{
        font-size: 1.2rem;
    }
    .footer__social--icon{
        width: 30px;
        height: 30px;
    }

    .footer__item--title{
        h1{
            font-size: 1.5rem;
        }
    }
    
    .footer__item--list{
        li{
            span{
               font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .header__info{
        display:none;
    }
    .header__drops{
        display: block;
    }

    //BANNER
    .banner__button{
        display: flex;
        flex-direction: column;
        span{
            text-align: center;
            padding-top: 2rem;
        }
    }
    .banner__button--btn{
        margin:0;
    }


    //PROVIDE
    .provide__cards{
        flex-direction: column;
    }

    //FETURE-1
    .feature-1{
        flex-direction: column;
    }

    .feature-1__img{
        img{
            width: 50%;
            display: block;
            margin: auto;
        }
    }


    //FETURE 2
    .feature-2{
        flex-direction: column;
    }

    .feature-2__info--item{
        flex: 45%;
    }
}
